<main id="Problema1">

    <h1>Problema 1 Gabriel R.</h1>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin: 0; text-align: center">
                Calculadora de divisiones
            </h3>
            <br>



            <div class="container-xl">

                <!-- Content here -->
                <div class="row">

                    <div class="col-5">
                        <form class="inputs">
                            <label for="Numero1">Ingrese digito 1:</label><br>
                            <input type="number" id="num1" name="num1"><br>
                            <label for="Numero2">Ingrese digito 2:</label><br>
                            <input type="number" id="num2" name="num2">
                        </form>

                        <input type="submit" value="Operar" onclick="Ope()" />

                        <p>Su resultado </p>
                        <p id="res"></p>


                    </div>
                    <div class="col-7">
                        <p>
                            "function Ope()"
                            <br> "let numb1 = document.getElementById("num1").value;"
                            <br> "let cant = document.getElementById("num2").value;"
                            <br> "numb1 = parseInt(numb1);"
                            <br> "cant = parseInt(cant);"
                            <br> "let result = 0;"
                            <br> "let i = 0;"
                            <br> "while (i
                            < cant) i++; result +=n umb1; "
                          <br>"document.getElementById( "res ").innerHTML=result; "
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

</main>